.test {
  background-color: yellow;
  font-size: 35px;
  color: red;
}

.container {
  background-color: red;
  border: 5px solid black;
}

.test1 {
  background-color: red;
  font-size: 35px;
  color: yellow;
}

.container1 {
  background-color: yellow;
  border: 5px solid black;
}
